.App {
    text-align: center;
}

.tabs__container {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    flex: 1;
    padding: 10px;
    background: white;
    text-align: center;
    color: hsl(240, 5%, 60%);
    font-size: 200%;
    cursor: pointer;
    border: solid black 2px;
}

.tab:hover {
    color: hsl(240, 5%, 70%);
}

.tab:active {
    transform: scale(0.95);
    color: hsl(199, 94%, 67%);
}

.tab.active {
    color: hsl(199, 94%, 67%);
}

.tab.disabled {
    opacity: 0.25;
}

.tabs__content {
    background: rgb(244, 249, 252);
    min-height: 300px;
    padding: 20px;
    font-weight: 600;
    font-size: 2em;
}